.main_block{
    width: fit-content;
    vertical-align: top;
    display: inline-block;
}

.info_text_block{
    text-align: right;
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    margin-right: 5px;
    padding: 7px 20px 7px 7px;
    border-radius: 7px;
    background-color: white;
    min-width: 592px;

}


.info_image_block{
    display: block;
    background-color: white;
    margin-top: 2px;
    padding: 7px;
    border-radius: 7px;
    width: 264px;
    height: 264px;
    vertical-align: top;
    margin-bottom: 15px;
}
.info_image{
    border-width: 0;
    background-color: black;
    width: 250px;
    height: 250px;
}

.post_block{
    display: block;
    margin-top: 15px;
    margin-right: 5px;
    padding: 17px;
    border-radius: 7px;
    background-color: white;
    width: 585px;
}

.bost_time_block{
    width: 100%;
    padding-right: 20px;
    margin-bottom: 10px;
    text-align: right;
    color: darkslategrey;
    font-size: 12px;
}

table{
    text-align: left;
    font-size: 14px;
    margin-left: 75px;
}

td, tr{
    width: 150px;

}

.post_link{
    padding: 8px 12px 8px 12px;
    margin: 2px;
    text-decoration:none;
    border-radius: 3px;
    display: inline-block;
    color:darkslategrey;
}

.send_button{
    background-color: white;
    border: none;
    border-radius: 3px;
    color: darkslategrey;
    padding: 8px 12px 8px 12px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.post_buttons{
    margin-top: 15px;
    text-align: right;
}

input[type=text], input[type=date]{
    background-color: white;
    width: 278px;
    height: 40px;
    padding-left: 10px;
    border-radius: 4px;
    border: 2px solid rgb(94, 151, 246);
    color: rgb(94, 151, 246);
    font-size: 1.2em;
    display: block;
    margin-bottom: 5px;
}

.content{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    display:block;
    width:100%;
    resize: none;
    margin-bottom: 10px;
}

.content_block{
    display: inline-block;
}

.right_block{
    width: fit-content;
    display: inline-block;
    vertical-align: top;
}